table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

 td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

 tr:nth-child(even){background-color: #f2f2f2;}

 tr:hover {background-color: #ddd;}

 th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #3056d3;
     color: white;
 }

 .property_image{
     width: 13em;
 }

 .image_column{
     width: 13em;
 }

 .max-width{
     overflow: scroll;
     max-width: none !important;
 }

/* Turn off scrollbar when body element has the loading class */
body.loading {
    overflow: hidden;
}

/* Make spinner image visible when body element has the loading class */
body.loading .overlay {
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8) url(../images/loader.gif) center no-repeat;
}


.over-max-offer{
    background-color: orangered;
}

.over-under-offer{
    background-color: green;
}

.negotiate-offer{
    background-color: orange;
}