table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

 td,  th {
    border: 1px solid #ddd;
    padding: 8px;
}

 tr:nth-child(even){background-color: #f2f2f2;}

 tr:hover {background-color: #ddd;}

 th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #3056d3;
     color: white;
 }

 .property_image{
     width: 13em;
 }

 .image_column{
     width: 13em;
 }

 .max-width{
     overflow: scroll;
     max-width: none !important;
 }