<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aluve Property Management</title>
    <link rel="shortcut icon" href="images/website.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Aluve Property Management"/>
    <script type="application/x-javascript">


        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }


    </script>
    <!-- css -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/calendar.css" type="text/css"
          media="all"/>

    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css"
          media="all">
    <!--// css -->
    <!-- font -->
    <link
            href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic'
            rel='stylesheet' type='text/css'>
    <link
            href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
            rel='stylesheet' type='text/css'>
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- //font -->
    <link rel="stylesheet" href="css/jquery.timepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/ssi-uploader.css"/>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.validate.js" type="text/javascript"></script>
    <script src="js/ssi-uploader.js"></script>

    <style>
        .overlay {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            background: rgba(255, 255, 255, 0.8) url("admin/images/loader.gif") center no-repeat;
        }

        /* Turn off scrollbar when body element has the loading class */
        body.loading {
            overflow: hidden;
        }

        /* Make spinner image visible when body element has the loading class */
        body.loading .overlay {
            display: block;
        }

        .notification {
            color: white;
            text-decoration: none;
            padding: 15px 26px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
        }

        .notification:hover {
            background: red;
        }

        .notification .badge {
            background: red;
        }

        .notification .badge-red {
            background: red;
        }

        .notification .badge-green {
            background: green;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
            justify-content: center;
            margin: 0px;
            display: flex;
            align-items: center;
        }

        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 1em;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #34495E;
            color: white;
        }

        .topnav .icon {
            display: none;
        }

        @media screen and (max-width: 600px) {
            .topnav a:not(:first-child) {
                display: none;
            }

            .topnav a.icon {
                float: right;
                display: block;
                background-image: none;
            }
        }

        @media screen and (max-width: 600px) {
            .topnav.responsive {
                position: relative;
            }

            .topnav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
            }

            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
        }

    </style>

</head>
<body>

<!-- Top Navigation Menu -->
<div class="topnav responsive" id="myTopnav">

    <a href="javascript:void(0)" onclick="updateView('calendar');"
       class="active menuICons mobileMenuIcon active" title="calendar">
        <i style="display: inline;" class="desktopOnlyMenu">Calendar</i>

    </a> <a href="javascript:void(0)" onclick="updateView('notifications');"
            class="active menuICons mobileMenuIcon notification" title="Notifications">
    <i style="display: inline;" class="desktopOnlyMenu">Notifications</i>
    <span class="badge" id="notification_count"></span>
</a>
    <a href="javascript:void(0)"
       onclick="updateView('upcoming-reservations');"
       class="active menuICons mobileMenuIcon" title="Bookings">
        <i style="display: inline;" class="desktopOnlyMenu">Reservations</i>
    </a> <a href="javascript:void(0)" onclick="updateView('blocked-rooms');"
            class="active menuICons mobileMenuIcon" title="Blocked Rooms">

    <i style="display: inline;" class="desktopOnlyMenu">Blocked
        Rooms</i>
</a> <a href="javascript:void(0)" onclick="updateView('occupancy');"
        class="active menuICons mobileMenuIcon" title="Occupancy">
    <i style="display: inline;" class="desktopOnlyMenu">Occupancy</i>
</a> <a href="javascript:void(0)" onclick="updateView('cleaning');"
        class="active menuICons mobileMenuIcon" title="Cleaning">
    <i style="display: inline;" class="desktopOnlyMenu">Cleaning</i>
</a> <a href="javascript:void(0)" onclick="updateView('information');"
        class="active menuICons mobileMenuIcon" title="Information">
    <i style="display: inline;" class="desktopOnlyMenu">Information</i>
</a>
    <a href="javascript:void(0)"
       onclick="updateView('configuration');"
       class="active menuICons mobileMenuIcon" title="Configuration">
        <i style="display: inline;" class="desktopOnlyMenu">Configuration</i>
    </a>
    <a href="javascript:void(0)" onclick="updateView('whatapp-chat');"
       class="active menuICons mobileMenuIcon" title="Whatapp-chat">
        <i style="display: inline;" class="desktopOnlyMenu">Whatsapp</i>
    </a>
    <a href="javascript:void(0)" onclick="logout();"
       class="active menuICons mobileMenuIcon" title="signout">
        <i style="display: inline;" class="desktopOnlyMenu">Sign Out</i>
    </a>

    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="main-w3">
    <h1>Guesthouse Management</h1>

    <form method="post" enctype="multipart/form-data">
        <input type="file" class="hidden uploadImageInput" accept="image/*"
               name="image"> <input type="text" class="hidden"
                                    name="customer_id" id="customer_image_id">
    </form>

    <div class="clearfix"></div>
    <div class="col-md-4 left-w3l">
        <div class="profile-w3layouts dashboard-div toggleable"
             id="div-whatapp-chat">
            <div class="profile-top">
                <div class="col-md-7 profile-top-right">
                    <h5>
                        New Whatsapp Chat</i>
                    </h5>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="profile-ser ">
                <form class="contact-form" action="#" autocomplete="off"
                      method="post" id="formStartChat">
                    <input name="whatapp_chat" type="text" id="whatapp_chat"
                           placeholder="Phone Number" class="textbox">

                    <div>
							<span> <input type="submit" value="Start Chat"
                                          id="cmdStartChat">
							</span>

                    </div>
                </form>

                <div class="clearfix"></div>
            </div>
        </div>


        <div class="profile-w3layouts dashboard-div toggleable"
             id="div-calendar">

            <div class="profile-top">
                <div class="col-md-7 profile-top-right">
                    <h5>
                        What's happening <i id="today-tomorrow">TODAY</i>
                    </h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="weather-bottom">
                <div class="weather-bottom-wthree">
                    <a href="javascript:void(0)" onclick="getStatsForToday();">Today</a>
                </div>
                <div class="weather-bottom-wthree">
                    <a href="javascript:void(0)" onclick="getStatsForTomorrow();">Tomorrow</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="profile-ser">
                <div class="profile-ser-grids">
						<span class="glyphicon glyphicon-log-in clickable"
                              aria-hidden="true"></span>
                    <h4>Check-ins</h4>
                    <h2 id="stats_checkin_count"></h2>
                </div>
                <div class="profile-ser-grids agileinfo">
						<span class="glyphicon glyphicon-log-out clickable"
                              aria-hidden="true"></span>
                    <h4>Checkouts</h4>
                    <h2 id="stats_checkout_count"></h2>
                </div>
                <div class="profile-ser-grids no-border">
						<span class="glyphicon glyphicon-briefcase clickable"
                              aria-hidden="true"></span>
                    <h4>Stay Over</h4>

                    <h2 id="stats_overstays_count"></h2>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="profile-top">
                <div class="col-md-7 profile-top-right">
                    <h5>Calendar</h5>
                </div>
                <div class="clearfix"></div>

                <div class="clearfix"></div>
            </div>

            <div class="profile-ser scrollable">
                <table id="calendar-table" style="width: 100%">
                </table>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>

    <div class="col-md-12 middle-w3l">
        <div class="profile-w3layouts toggleable"
             id="div-upcoming-reservations">
            <div class="profile-ser">
                <div class="profile-ser-grids-20 filter-reservations clickable"
                     id="reservations_all">
                    <img class="menu_icon_image" src="images/menu_bookings.png"></img>
                    <i class="desktopOnlyMenu">Up
                        Comming</i>
                </div>
                <div class="profile-ser-grids-20 filter-reservations clickable"
                     id="reservations_checkouts">
                    <img class="menu_icon_image" src="images/menu_checkout.png"></img><i class="desktopOnlyMenu">Checkouts</i>
                </div>
                <div
                        class="profile-ser-grids-20 agileinfo  filter-reservations clickable"
                        id="reservations_stay_overs">
                    <img class="menu_icon_image" src="images/menu_stayover.png"></img><i class="desktopOnlyMenu">Stay
                    Overs</i>
                </div>
                <div
                        class="profile-ser-grids-20 agileinfo  filter-reservations clickable"
                        id="reservations_past_reservations">
                    <img class="menu_icon_image" src="images/history.png"></img><i class="desktopOnlyMenu">History
                </i>
                </div>
                <div class="profile-ser-grids-20 agileinfo  filter-reservations clickable"
                     id="reservations_pending_reservations">
                    <img class="menu_icon_image" src="images/pending.png"></img><i class="desktopOnlyMenu">Pending</i>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="profile-top">
                <div class="col-md-7 profile-top-right">
                    <h5 id="reservations-heading">Upcoming Reservations</h5>
                    <a href="/booking.html" class="new-reservation-link" target="_blank"><img class="menu_icon_image"
                                                                                              src="images/add.png"></img><i
                            class="desktopOnlyMenu">New Booking</i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="flexible">
                <div class="flex-bottom">
                    <div id="reservation_success_message_div"
                         class="flex1 display-none">
                        <h5 id="reservation_success_message"></h5>
                    </div>
                    <div id="reservation_error_message_div" class="flex2 display-none">
                        <h5 id="reservation_error_message"></h5>
                    </div>
                </div>
            </div>
            <div id="reservations-list" class='reservations_tabs'></div>
            <div id="checkouts-list" class='reservations_tabs display-none'></div>
            <div id="stayOver-list" class='reservations_tabs display-none'></div>
            <div id="past-res-list" class='reservations_tabs display-none'></div>
            <div id="pending-res-list" class='reservations_tabs display-none'></div>
        </div>


        <div class="profile-w3layouts toggleable"
             id="div-configuration">
            <div class="profile-ser">
                <div class="profile-ser-grids-25 filter-configuration clickable"
                     id="configuration_rooms">
                    <img class="menu_icon_image" src="images/menu_rooms.png"></img>
                    <i class="desktopOnlyMenu">Rooms</i>
                </div>
                <div class="profile-ser-grids-25 filter-configuration clickable"
                     id="configuration_add_ons">
                    <img class="menu_icon_image" src="images/menu_add_ons.png"></img><i class="desktopOnlyMenu">Add
                    Ons</i>
                </div>
                <div
                        class="profile-ser-grids-25 agileinfo  filter-configuration clickable"
                        id="configuration_employees">
                    <img class="menu_icon_image" src="images/employee.png"></img><i
                        class="desktopOnlyMenu">Employees</i>
                </div>
                <div
                        class="profile-ser-grids-25 agileinfo  filter-configuration clickable"
                        id="configuration_messages">
                    <img class="menu_icon_image" src="images/messages.jpg"></img><i
                        class="desktopOnlyMenu">Messages</i>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="profile-top">
                <div class="col-md-7 profile-top-right">
                    <h5 id="configuration-heading">Rooms</h5>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="flexible">
                <div class="flex-bottom">
                    <div id="configuration_success_message_div"
                         class="flex1 display-none">
                        <h5 id="configuration_success_message"></h5>
                    </div>
                    <div id="configuration_error_message_div" class="flex2 display-none">
                        <h5 id="configuration_error_message"></h5>
                    </div>
                </div>
            </div>
            <div id="configuration-rooms-list" class='configuration_tabs'>
                <div class="configuration-left-div">
                    <div id="config_rooms_list">
                    </div>

                </div>
                <div class="configuration-right-div">

                    <form class="contact-form" id="config_room_form">
                        <h3 id="manage_room_h3">Create A New Room</h3>
                        <label>Room Name</label>
                        <div>
                            <input type="text" name="room_id" id="room_id" class="display-none" value="0"/>
                            <input type="text" name="room_name" id="room_name"
                                   required/>
                        </div>

                        <label>Description</label>
                        <div>
                        <textarea type="text" name="room_description" id="room_description" rows="5"
                                  required></textarea>
                        </div>

                        <label>Price</label>

                        <div>
                            <input type="text" name="room_price" id="room_price"
                                   required/>
                        </div>

                        <label>Sleeps</label>
                        <div>
                            <input type="number" value="2" id="room_sleeps">
                        </div>

                        <label>Status</label>
                        <div>
                            <select id="select_room_status">

                            </select>
                        </div>


                        <label>Linked Room</label>
                        <div>
                            <select id="select_linked_room">

                            </select>
                        </div>

                        <label>Room Size</label>
                        <div>
                            <input type="text" name="room_size" id="room_size"
                                   required/>
                        </div>

                        <label>Bed</label>
                        <div>
                            <select id="select_bed">

                            </select>
                        </div>

                        <label>Stairs</label>
                        <div>
                            <select id="select_Stairs">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                        <div>
                            <span><input type="submit" value="Submit" id="config_room_submit"></span>
                        </div>
                    </form>

                    <div id="imageUploaderDiv" class="display-none">
                        <h3>Manage Room Images</h3>

                        <div id="uploaded_images_div"></div>

                        <h5>Upload New Images</h5>
                        <input type="file" multiple id="ssi-upload"/>
                    </div>

                </div>


            </div>
            <div id="configuration-add_on-list" class='configuration_tabs display-none'>
                <form class="contact-form" id="config_addOn_form">
                    <h3>Manage Add-ons</h3>

                    <div id="add_ons_div"></div>

                    <hr>
                    <h3>Create New Add-ons</h3>
                    <div class="addon-left-div">
                        <label>Name</label>
                        <input type="text" id="addon_name" name="addon_name" placeholder="e.g. laundry"
                               required/>
                    </div>
                    <div class="addon-right-div">
                        <label>Price</label>
                        <input type="text" id="addon_price" name="addon_price" placeholder="e.g. 180"
                               required/>
                    </div>

                    <div>
                        <span><input type="submit" value="Submit" id="config_addon_submit"></span>
                    </div>
                </form>
            </div>
            <div id="configuration-employees-list" class='configuration_tabs display-none'>
                <form class="contact-form" id="config_employee_form">
                    <h3>Manage Employee</h3>

                    <div id="employee_div"></div>

                    <hr>
                    <h3>Create New Employee</h3>
                    <div class="addon-left-div">
                        <label>Name</label>
                        <input type="text" id="employee_name" name="employee_name" placeholder="e.g. Benedict"
                               required/>
                    </div>
                    <div>
                        <span><input type="submit" value="Submit" id="config_employee_submit"></span>
                    </div>
                </form>

            </div>
            <div id="configuration-messages" class='configuration_tabs display-none'>

                    <h3>Scheduled Messages</h3>

                    <div id="messages_div">

                    </div>

                    <hr>
                <form class="contact-form" id="config_createMessageTemplate_form">
                    <h3>Create a new template</h3>
                    <p id="message_variables"></p>

                    <label>Template Name</label>

                    <input type="text" id="template_name_input" placeholder="e.g. Load shedding">

                    <label>Message</label>
                    <textarea id="template_message" name="template_message">Hi guest_name, ....
                    </textarea>
                    <div>
                        <span><input type="submit" value="Create Template" id="create_template_submit"></span>
                    </div>
                </form>
                    <hr>
                <form class="contact-form" id="config_createScheduleMessage_form">
                    <h3>Schedule a new message</h3>

                    <label>Template</label>
                    <select id="template_name_select" name="template_name_select" class="template_option">
                    </select>

                    <pre id="template_message_text"></pre>

                    <label>Schedule</label>
                    <select id="schedule_name" name="schedule_name">
                    </select>

                    <div id="checkbox_rooms">

                    </div>

                    <div>
                        <span><input type="submit" value="Schedule Message" id="messages_submit"></span>
                    </div>
                </form>
            </div>
        </div>


        <div class="profile-w3layouts toggleable"
             id="div-blocked-rooms">
            <div class="profile-top">
                <div class="col-md-7 profile-top-right">
                    <h5>Blocked Rooms</h5>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="profile-ser">
                <div class="profile-ser-grids-50 filter-block-room-tabs clickable"
                     id="view_blocked_rooms_tab">
						<span class="glyphicon glyphicon-asterisk clickable"
                              aria-hidden="true"></span>
                    <h4>Blocked Rooms</h4>
                </div>
                <div class="profile-ser-grids-50 agileinfo filter-block-room-tabs clickable"
                     id="block_a_room_tab">
						<span class="glyphicon glyphicon-asterisk clickable"
                              aria-hidden="true"></span>
                    <h4>Block A Room</h4>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="flexible">
                <div class="flex-bottom">
                    <div id="block_success_message_div"
                         class="flex1 display-none">
                        <h5 id="block_success_message"></h5>
                    </div>
                    <div id="block_error_message_div" class="flex2 display-none">
                        <h5 id="block_error_message"></h5>
                    </div>
                </div>
            </div>

            <div id="block-list" class="blocked_rooms_tab"></div>

            <div class="profile-w3layouts toggleable blocked_rooms_tab"
                 id="div-block-room">
                <div class="resp-tabs-container">

                    <div class="tab-4">
                        <div class="facts">
                            <div class="contact-form">
                                <form action="#" autocomplete="off"
                                      id="block-form">

                                    <div class="tab-1">
                                        <div class="facts">
                                            <h5>Block Room</h5>
                                        </div>
                                    </div>

                                    <div>

                                        <select name="block_rooms_select" id="block_rooms_select" required>
                                        </select>

                                    </div>

                                    <div>
                                        <input type="text" autocomplete="off" name="block_date"
                                               id="block_date" placeholder="Select Date"
                                               class="datepicker" required>
                                    </div>

                                    Notes
                                    <div>
											<textarea name="block_notes" id="block_notes" rows="2"
                                                      required> </textarea>
                                    </div>

                                    <div>
                                        <span><input type="submit" value="Submit"> </span>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="profile-w3layouts toggleable"
             id="div-notifications">
            <div class="profile-top">
                <div class="col-md-7 profile-top-right">
                    <h5>Notifications</h5>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="profile-ser">

                <div class="clearfix"></div>

                <div id="notifications-list"></div>

            </div>

        </div>


        <div class="profile-w3layouts topMargin toggleable"
             id="div-occupancy">
            <div class="profile-top">
                <div class="col-md-7 profile-top-right">
                    <h5>Occupancy</h5>

                </div>
                <div class="clearfix"></div>
            </div>

            <div class="profile-ser">

                <div class="profile-ser-grids-50 agileinfo">
                    <a href="javascript:void(0)" onclick="getOccupancyPerRoom('30');">
                        <h5>Last <input name="occupancy_days"
                                        id="occupancy_days" class="input-as-text" value="30">
                        </input> Days</h5>
                        <h2 id="overall-30-occupancy"></h2>
                    </a>
                </div>
                <div class="profile-ser-grids-50 agileinfo">
                    <a href="javascript:void(0)"
                       onclick="getOccupancyPerRoomForMonth();">
                        <h5>This Month</h5>
                        <h2 id="overall-month-occupancy"></h2>
                    </a>
                </div>
                <div class="clearfix"></div>

                <div class=" bar-grids">
                    <div class="skills-top">
                        <h5>Per Room</h5>
                    </div>
                    <div class="skills-btm" id="occupancy-div"></div>
                </div>

            </div>


        </div>

    </div>

    <div class="col-md-4 right-w3l">


        <div class="profile-w3layouts toggleable"
             id="div-cleaning">
            <div class="profile-top">
                <div class="col-md-7 profile-top-right">
                    <h5>Cleaning</h5>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="profile-ser">
                <div class="em1-margin em1-top-padding">
                    Select room to get cleanings
                    <select class="block-display em1-margin" id="cleaning_rooms_select">
                    </select>
                </div>
                <div class="clearfix"></div>

                <div id="cleaning-list"></div>

            </div>

        </div>

        <div class="profile-w3layouts toggleable"
             id="div-information">
            <div class="profile-top">
                <div class="col-md-7 profile-top-right">
                    <h5>
                        Information
                    </h5>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="profile-ser ">
                <div id="err"></div>

                <form class="contact-form" action="#" autocomplete="off"
                      method="post" id="formInformation">
                    <h3 class="information-h3">Aluve Rooms</h3>
                    <p class="information-p">
                        <b>Budget</b> <input type="text" class="info-input-box"
                                             value="https://aluvegh.co.za/rooms/budget-bedroom/">
                    <p class="information-p">
                        <b>Double</b> <input type="text" class="info-input-box"
                                             value="https://aluvegh.co.za/rooms/double-room/">
                    <p class="information-p">
                        <b>Upstairs</b> <input type="text" class="info-input-box"
                                               value="https://aluvegh.co.za/rooms/beautiful-upstairs-room/">
                    <p class="information-p">
                        <b>Upstairs Family</b> <input type="text" class="info-input-box"
                                                      value="https://aluvegh.co.za/rooms/upstairs/">
                    <p class="information-p">
                        <b>1 Bedroom</b> <input type="text" class="info-input-box"
                                                value="https://aluvegh.co.za/rooms/1-bedroom-cottage/">
                    <p class="information-p">
                        <b>2 Bedroom</b> <input type="text" class="info-input-box"
                                                value="https://aluvegh.co.za/rooms/family-cottage/">
                    <p class="information-p">
                        <b>Bachelor</b> <input type="text" class="info-input-box"
                                               value="https://aluvegh.co.za/rooms/bachelor/">
                    <h3 class="information-h3">Airbnb & Booking.com link</h3>
                    <p class="information-p">
                        <b>Airbnb</b> <input type="text" class="info-input-box"
                                             value="www.airbnb.co.za/p/aluve">
                    <p class="information-p">
                        <b>Booking.com</b> <input type="text" class="info-input-box"
                                                  value="http://www.booking.com/Share-nhTriA">
                    <h3 class="information-h3">Banking Details</h3>
                    <p class="information-p">
							<textarea type="text" class="info-input-box" rows="5">FNB
Name: Sixty-five group
Account: 62788863241
branch: 250 655
Ref: Name or invoice Number</textarea>
                </form>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>


    <div class="clearfix"></div>
    <div class="footer-agileits-w3layouts">
        <p class="agileinfo">
            &copy; 2017 Simple UI kit . All Rights Reserved | Design by <a
                href="http://w3layouts.com">W3layouts</a>
        </p>
    </div>
</div>
<!--  player js -->

<div class="overlay"></div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
    google.load("jquery", "1.7.1");
    google.load("jqueryui", "1.8.16");
</script>


<script src="js/script.js"></script>
<!--  player js -->
<script src="js/Chart.min.js"></script>
<script src="js/pretty-doughtnut.js"></script>
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
<script src="js/skycons.js"></script>
<script src="js/underscore-min.js" type="text/javascript"></script>

<script src="js/operations/notifications.js" type="text/javascript"></script>
<script src="js/operations/common.js" type="text/javascript"></script>
<script src="js/operations/stats.js" type="text/javascript"></script>
<script src="js/operations/reservations.js" type="text/javascript"></script>

<script src="js/operations/cleaning_checklist.js"
        type="text/javascript"></script>
<script src="js/operations/calendar.js" type="text/javascript"></script>
<script src="js/operations/block_form.js" type="text/javascript"></script>
<script src="js/operations/blocked_rooms.js" type="text/javascript"></script>
<script src="js/operations/menu.js" type="text/javascript"></script>
<script src="js/operations/whatapp.js" type="text/javascript"></script>
<script src="js/operations/configuration.js" type="text/javascript"></script>
<script>
    function toggleMenu() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
</body>
</html>
