<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Aluve Guesthouse Invoice</title>
		<link rel="stylesheet" href="assets/css/invoice.css">
	</head>

	<body>
		<div class="invoice-box">
			<table cellpadding="0" cellspacing="0">
				<tr class="top">
					<td colspan="4">
						<table>
							<tr>
								<td class="title">
									<img src="/assets/images/logo.png" style="width: 100%; max-width: 300px" />
								</td>

								<td>
									<h1>{{invoice_or_receipt}}</h1>
									#{{reservation_id}}<br />
									Created: {{created}}<br />
									<b>Balance Due: {{due}}</b>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="4">
						<table>
							<tr>
								<td>
									{{company_name}}<br />
									{{company_address_line_1}}<br />
									{{company_address_suburb}}<br />
									{{company_address_city}}<br />
									Tel:{{company_phone}}<br />
									Email:{{company_email}}<br />
								</td>

								<td>
									<b>Invoice To:</b><br />
									{{guest_name}}<br />
									{{guest_phone}}<br />
									{{guest_email}}
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="heading">
					<td>Item</td>
					<td>Quantity</td>
					<td>Price</td>
					<td>Amount</td>
				</tr>

				<tr class="item">
					<td>{{room_name}}<br>
					Check-in: {{check_in}}<br>
						Check-out: {{check_out}}<br></td>
					<td>{{nights}}</td>
					<td>{{price_per_night}}</td>
					<td>{{total_for_room}}</td>
				</tr>

				<tr class="heading">
					<td>Add-ons</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>


				{{addOns|raw }}

				<tr class="total">
					<td></td>
					<td></td>
					<td><b>Total:</b> </td>
					<td><b>{{total_for_rooms_addons}}</b></td>
				</tr>

				<tr class="heading">
					<td>Payments</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

				{{payments|raw }}

				<tr class="total">
					<td></td>
					<td></td>
					<td><b>Total Payments:</b> </td>
					<td><b>{{total_payments}}</b></td>
				</tr>

				<tr class="total">
					<td></td>
					<td></td>
					<td><b>Balance Due:</b> </td>
					<td><b>{{due}}</b></td>
				</tr>

				<tr >
					<td><b>Banking Details:</b></td>
					<td class="no-border"></td>
					<td class="no-border"> </td>
					<td class="no-border"></td>
				</tr>
				<tr>
					<td>Bank Name:<br>
						Account Type:<br>
						Account Number:<br>
						Branch Code: <br></td>
					<td class="no-border">{{bank_name}}<br>
						{{account_type}}<br>
						{{account_number}}<br>
						{{branch_code}}<br></td>
					<td class="no-border"> </td>
					<td class="no-border"></td>
				</tr>


			</table>
		</div>
	</body>
</html>
