<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Aluve Property Management System</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Trendy pricing table Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<link href="assets/css/pricing.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<body>
	<!--main-->
	<div class="main">	
		<h1>Aluve Property Management System</h1>
		<div class="pricing-grids">
			<div class="grid-info">
				<div class="hover-text">
					<h5>Recommended </h5>
				</div>
				<h3>Starter</h3>
				<h4>Free</h4>
				<h6>Per month</h6>
				<div class="pricing-text">
					<p><span>0 - 9 </span> Units</p>
					<p><span>1x</span>Customer Website</p>
					<p><span>1x</span>Property Management System</p>
					<p><span>1x</span>Onboarding Training</p>
					<p><span>24/7</span>Email & Whatsapp Support</p>
				</div>

			</div>
			<div class="grid-info">
				<div class="hover-text">
					<h5>Recommended </h5>
				</div>
				<h3>Commercial</h3>
				<h4>R199</h4>
				<h6>Per month</h6>
				<div class="pricing-text">
					<p><span>10+</span> Units</p>
					<p><span>1x</span>Customer Website</p>
					<p><span>1x</span>Property Management System </p>
					<p><span>1x</span>Onboarding Training</p>
					<p><span>24/7</span>Email & Whatsapp Support</p>
				</div>

			</div>

			<div class="clear"> </div>
		</div>
	</div>	
	<!--//main-->
	<div class="copyright">
		<p> &copy; 2015 Trendy pricing table . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
	</div>	
</body>
</html>